network:
  version: 2
  renderer: networkd
  ethernets:
    {{ new_interface_name }}:
      match:
        macaddress: "{{ active_interface_mac }}"
      dhcp4: true
      dhcp6: false
      set-name: "{{ new_interface_name }}"